body {
    background-color: white;
}
.container {
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
h2 {
    color: #343a40;
    margin-bottom: 1.5rem;
}
.form-label {
    font-weight: 500;
}

